body {
    background-color: #B4CDED;
}
header {
    background-color: #FFED66;
}
img {
    width: 200px;
}
h2 {
    color: #2274A5;
    font-family: 'PT Serif', serif;
}
p {
    font-family: 'Quicksand', sans-serif;
}
nav {
    flex-basis: 33%;
}

/**Tablet View**/
@media only screen and (min-width: 560px) {
    nav {
        flex-basis: 50%;
    }
}

/**Desktop View**/
@media only screen and (min-width: 1028px) {
    nav {
        flex-basis: 100%;
    }
}